/* ! *****************************
/* !        Tablet - 768px
/* ! ****************************/

@media screen and (min-width: 768px) {
    /* HEADER */
    .hamburger-btn {
        display: none;
    }

    .header-nav ul {
        display: flex;
    }

    /* MAIN */
    /* ? Hero */
    #hero .card {
        width: calc(100% / 3 - 2em / 3);
    }

    #hero .card:first-child {
        width: calc(2 * 100% / 3 - 1em / 3);
    }

    #hero .card img {
        width: 75%;
    }

    #hero .card:nth-child(2) {
        justify-content: flex-start;
    } 

    /* ? Benefits */
    #benefits .card {
        width: calc(100% / 2 - 1em / 2);
    }   
    
    /* ? Testimonials */
    #testimonials .card {
        flex-direction: row;
        padding: 2em 1em;
    }

    #testimonials .inner-col {
        width: 60%;
        text-align: left;
    }

    #testimonials img {
        width: 30%;
    }

    /* ? About Us */
    #about-us .card:first-child {
        width: 62%
    }

    #about-us .card:last-child {
        width: 33%
    }

    #about-us .quote-container {
        width: 100%;
    }


    #about-us .about-us-caption {
        font-size: 1.8rem;
        line-height: 2rem;
        padding-top: .2em;
    }

    /* ? CTA Section */
    #cta .container {
        width: 80%;
    }

    /* FOOTER */
    #footer .container {
        width: 70%;
    }
}

/* ! *****************************
/* !        Desktop - 992px
/* ! ****************************/

@media screen and (min-width: 992px) {
    /* MAIN */
    /* ? Hero */
    #hero .card:first-child {
        flex-direction: row;
    }

    #hero .inner-col:first-child {
        align-items: flex-start;
        width: 58%;
    }
   
    #hero .inner-col:last-child {
        width: 40%;
        object-fit: contain;
        object-position: bottom;  
    }
   
    /* ? Strategic Planning */
    #planning .columns {
        padding-top: 4em;
        flex-direction: row;
    }

    #planning .card {
        width: calc(100% / 2 - 10px);
        padding-top: 1em;
    }

    #planning .card:first-child,
    #planning .card p {
        padding-bottom: 0;
    }

    #planning .columns:last-child {
       display: flex;
       align-items: end;
    }

    #planning .card:last-child img {
        width: 65%;
    }

    /* ? Benefits */
    #benefits .card {
        width: calc(100% / 3 - 2em / 3);
    }

    /* ? About Us */
    #about-us .container {
        padding: 2em;
    }

    #about-us .card:first-child {
        width: 65%
    }

    #about-us .card:last-child {
        width: 30%
    }

    #about-us .quote-container {
        width: 80%;
    }

    /* ? CTA Section */
    #cta .container {
        width: 70%;
    }

    /* FOOTER */
    #footer .container {
        width: 50%;
    }
}
