/* ! *****************************
/* !        Tablet - 768px
/* ! ****************************/

@media screen and (min-width: 768px) {
    /* HEADER */
    .hamburger-btn {
        display: none;
    }

    .header-nav ul {
        display: flex;
    }

    /* MAIN */
    /* ? Hero */
    #hero .card {
        width: calc(100% / 3 - 2em / 3);
    }

    #hero .card:first-child {
        width: calc(2 * 100% / 3 - 1em / 3);
    }

    /* ? Benefits */
    #benefits .card {
        width: calc(100% / 2 - 1em / 2);
    }    

    /* ? About Us */
    #about-us .card:first-child {
        width: 70%
    }

    #about-us .card:last-child {
        width: 28%
    }

    /* ? CTA Section */
    #cta .container {
        width: 50%;
    }

    /* FOOTER */
    #footer .container {
        width: 50%;
    }
}

/* ! *****************************
/* !        Desktop - 992px
/* ! ****************************/

@media screen and (min-width: 992px) {
    /* ? Strategic Planning */
    #planning .card {
        width: calc(100% / 2 - 10px);
    }

    /* ? Benefits */
    #benefits .card {
        width: calc(100% / 3 - 2em / 3);
    }
}
