/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* FONT */
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
/* COMMON */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    /* debug */
    border: 2px solid orange;
}

.columns {
    gap: 10px;
}

.card {
    width: 100%;
    border-radius: 1em;
}

.btn {
    border-radius: 1.3em;
    color: #FFF;
    text-align: center;
}

/* Layout */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.bg-violet {
    background-color: #9792e4;
}

.text-center {
    text-align: center;
}

/* Utilities */
.gap-1 {
    gap: 1em;
}

.p-20 {
    padding: 20px;
}

/* HEADER */
header {
    background-color: #0084fd;
    padding: 10px 20px;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    color: #FFF;
}

.hamburger-btn {
    font-size: 1.5em;
    background: transparent;
    border: 0;
    color: #FFFFFF;
}

.header-nav {
    justify-content: right;
}

.header-nav ul {
    display: none;
}

.btn-white {
    padding: .5em 1em;
    background-color: #FFFFFF;
    color: #000000;
}

/* MAIN */
/* ? Hero */
#hero {
    padding-top: 90px;

    /* debug */
    border: 2px dashed red;
}

#hero .card {
    flex-direction: column;
    background-color: #b6ddff;
    padding: 2em 2em 0 2em;
}

#hero .card h3 {
    font-size: 1.5rem;
    padding-bottom: .3em;
    color: #0084fd;
}

#hero .card p {
    padding-top: 1em;
    line-height: 2rem;
    color: #5a6e7f;
}

.btn-blue {
    width: 15em;
    padding: .7em;
    background-color: #0084fd;
    letter-spacing: .2em;
    margin: 2em 0;
}

#hero .card img {
    display: inline-block;
}

.large-icons {
    color: #0084fd;
    font-size: 5rem;
    padding-bottom: .3em;
    text-align: center;
    display: block;
}

/* ? Strategic Planning */
#planning .card:last-child {
    background-color: #FFFFFF;
}

/* ? Testimonials */
#testimonials .card {
    width: 100%;
    background-color: #9792e4;
}

/* ? Benefits */
#benefits .card {
    width: 100%;
    background-color: #FFFFFF;
}

/* ? About Us */
#about-us .card {
    /* debug */
    min-height: 200px;
}

/* ? CTA Section */

/* FOOTER */
footer {
    background-color: #000000;
    color: #FFFFFF;
}
